{% extends 'base.html' %}

{% block title %}About{% endblock %}

{% block content %}
<div class="container about-page-container mt-5">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <h1 class="text-center mb-4">About This Calculator</h1>
            
            <br>

            <p class="lead text-justify">
                This application is designed to calculate the future value of your investments by taking into account key parameters such as principal amount, monthly contributions, time period, and interest rate. It provides both visual and numerical representations, making it easier for you to understand how your investments can grow over time.
            </p>

            <br>
            <br>

            <h3 class="mb-3">Key Features</h3>
            <ul class="list-unstyled">
                <li class="mb-2">
                    <i class="fas fa-cogs"></i> Customizable parameters to tailor calculations to your specific investment goals.
                </li>
                <li class="mb-2">
                    <i class="fas fa-chart-line"></i> Interactive graph displaying the growth of your investment over time.
                </li>
                <li class="mb-2">
                    <i class="fas fa-table"></i> Detailed table with yearly breakdown of future values and contributions.
                </li>
                <li class="mb-2">
                    <i class="fas fa-calendar-alt"></i> Option to include inflation adjustments for more accurate projections.
                </li>
                <li class="mb-2">
                    <i class="fas fa-sync-alt"></i> Real-time calculations for quick assessments of your investment strategy.
                </li>
                <li class="mb-2">
                    <i class="fas fa-info-circle"></i> Comprehensive FAQs to help users understand investment concepts.
                </li>
                <li class="mb-2">
                    <i class="fas fa-users"></i> User-friendly interface designed for both beginners and experienced investors.
                </li>
            </ul>

            <br>
            <br>

            <h3 class="mb-3">Legal Disclaimer</h3>
            <p class="text-justify">
                The information provided by this calculator is intended solely for educational and informational purposes and should not be considered financial advice. The results are theoretical and are meant to illustrate the concept of compound interest. They do not guarantee future performance or investment returns. It is always recommended to consult with a qualified financial advisor before making any investment decisions.
            </p>
        </div>
    </div>
</div>
{% endblock %}
