{% extends 'base.html' %}

{% block title %}About - Investment Calculator{% endblock %}

{% block content %}
<div class="container mt-5">
    <h1 class="text-center mb-4">About the Investment Calculator</h1>
    <p class="lead text-center">
        This application calculates the future value of your investments based on various parameters such as principal amount, monthly contributions, time period, and interest rate, and provides visual and numerical representations of how your investments can grow over time.
    </p>

    <h3>Features:</h3>
    <ul>
        <li>Interactive graph displaying the growth of your investment over time.</li>
        <li>Detailed table with yearly breakdown of future values and contributions.</li>
        <li>Responsive design for optimal viewing on any device.</li>
    </ul>
    <div class="mt-5"></div>
        <h3>Legal Disclaimer</h3>
        <p>
            The information provided by the Investment Calculator is for educational and informational purposes only and should not be construed as financial advice. The results generated are purely theoretical and are meant to demonstrate the power of compound interest. They do not guarantee future performance or investment returns. Always consult with a qualified financial advisor before making any investment decisions.
        </p>
        <p>
            If you have any questions or feedback, please don't hesitate to <a href="mailto:nam.nhmai@gmail.com">contact me</a>.
        </p>
    </div>
</div>
{% endblock %}
